{% extends "layout.html" %}
{% block title %}INDEX{% endblock %} {% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h4><strong>ALTOCUMULUS</strong></h4>
<div class="callout grid-x">
    <p>A tool for generating “word clouds”. The clouds give greater prominence to words that
        appear more frequently ing source text.</p>
    <div class="cell large-6">
        choose an RSS source<br>
        <form method="post">
            <a href="{{ url_for('feeds.getFeed') }}">
                <input class="button" name="feed" type="submit" class="button" value="News24">
                <input class="button alert" name="feed" type="submit" class="button" value="BBC">
                <input style="background: #000;color: #fff;" class="button" name="feed" type="submit" class="button" value="Vice">
                <input class="button warning" name="feed" type="submit" class="button" value="Aljazeera">
            </a>
        </form>
    </div>
    <div class="cell large-1">
        <img class="thumbnail"
             src="https://camo.githubusercontent.com/3762ac955b1200255b2d2a1a0b41978f6078498d/68747470733a2f2f6d7572616c7765617665722e6e65746c6966792e636f6d2f7374617469632f65383235393264313464666632346265326166313135666531646235363537372f37636334622f776f7264636c6f75642e706e67"
             alt="wordcloud">
        <a href="#" class="thumbnail"><img
                src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.spreadshirtmedia.com%2Fimage-server%2Fv1%2Fmp%2Fcompositions%2FT210A1PA330PT17X90Y58D1009451684S17%2Fviews%2F1%2Cwidth%3D300%2Cheight%3D300%2CappearanceId%3D1%2CbackgroundColor%3DE8E8E8%2Fnature-word-cloud-men-s-t-shirt.jpg&f=1&nofb=1"
                alt="wordcloud"></a>
    </div>
</div>
<del>Login with demo demo or register.</del>
{% endblock %}
