<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='foundation.css') }}">
    <title>{% block title %}{% endblock %} - ALTOCUMULUS </title>
    {% endblock %}
</head>

<body>
<header class="" style="z-index: 1;position: relative;">
    <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
        <div class="title-bar-title"><a href="{{ url_for('main.index') }}">ALTOCUMULUS</a></div>
    </div>

    <div class="top-bar" id="example-menu">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                {% if current_user.is_authenticated %}
                <li class="">
                    <a href="{{ url_for('main.profile') }}" class="navbar-item">More Features</a>
                </li>
                {% endif %}
                {% if not current_user.is_authenticated %}
                <li onclick="return false" class="title-bar-right"><a href="{{ url_for('auth.signup') }}">Register</a></li>
                <li onclick="return false"><a href="{{ url_for('auth.login') }}">Login</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li onclick="return false" class="title-bar-right"><a href="{{ url_for('auth.logout') }}">Logout {{ name }}!</a></li>
                {% endif %}
            </ul>
        </div>

    </div>
</header>
<main>
    <div id="content" class="grid-container">{% block content %}{% endblock %}</div>
</main>
<footer class="grid-container footer">
    {% block footer %}Altocumulus 2020{% endblock %}
</footer>
</body>
</html>
